Repository electron/apps, pull requests merged in 2020-07, with the labels that each got.

#1404 feat: Added qikqr
  apps/qikqr/qikqr-icon.png
  apps/qikqr/qikqr.yml
Labels: app: new

#1393 feat: Add GDevelop
  apps/gdevelop/gdevelop-icon.png
  apps/gdevelop/gdevelop.yml
Labels: app: blocked/need-info, app: new

#1387 feat: add RMClient app
  apps/rmclient/rmclient-icon.png
  apps/rmclient/rmclient.yml
Labels: app: blocked/need-info, app: new

#1417 feat: add Motrix
  apps/motrix/motrix-icon.png
  apps/motrix/motrix.yml
Labels: app: blocked/need-info, app: new

#1457 feat: Add Responsively
  apps/responsively/responsively-icon.png
  apps/responsively/responsively.yml
Labels: app: new

#1320 fix: update WebCatalog icon, screenshots, keywords
  apps/webcatalog/webcatalog-icon.png
  apps/webcatalog/webcatalog.yml
Labels: app: update

#1335 feat: Add 'ElectroCRUD' app
  apps/electrocrud/electrocrud-icon.png
  apps/electrocrud/electrocrud.yml
Labels: app: blocked/need-info, app: new

#1338 feat: Add Zello
  apps/zello/zello-icon.png
  apps/zello/zello.yml
Labels: app: blocked/need-info, app: new

#1409 feat: Added clipper application
  apps/clipper/clipper-icon.png
  apps/clipper/clipper.yml
Labels: app: new

#1382 feat: add 'NeuCalculator' app
  apps/neucalculator/neucalculator-icon.png
  apps/neucalculator/neucalculator.yml
Labels: app: new

#1455 feat: Add znote app
  apps/znote/znote-icon.png
  apps/znote/znote.yml
Labels: app: blocked/need-info, app: new

#1295 feat: Add ExifCleaner
  apps/exifcleaner/exifcleaner-icon.png
  apps/exifcleaner/exifcleaner.yml
Labels: app: blocked/need-info, app: new

#1407 fix: update CDN Desktop app
  apps/cdn-desktop/cdn-desktop.yml
Labels: app: blocked/need-info, app: update

#1285 Add Apps: Tern
  apps/tern/tern-icon.png
  apps/tern/tern.yml
Labels: app: blocked/need-info, app: new

#1339 feat: Add 'Desktop Recorder' app
  apps/desktop-recorder/desktop-recorder-icon.png
  apps/desktop-recorder/desktop-recorder.yml
Labels: app: blocked/need-info, app: new

#1390 feat: Add LightProxy
  apps/lightproxy/lightproxy-icon.png
  apps/lightproxy/lightproxy.yml
Labels: app: new

#1463 Add BitShares UI APP
  apps/bitshares-ui/bitshares-ui-icon.png
  apps/bitshares-ui/bitshares-ui.yml
Labels: app: new

#1465 TrackingTime added
  apps/trackingtime/trackingtime-icon.png
  apps/trackingtime/trackingtime.yml
Labels: app: blocked/need-info, app: new

#1461 feat: Add Arena
  apps/arena/arena-icon.png
  apps/arena/arena.yml
Labels: app: blocked/need-info, app: new

#1471 fix(githoard.yml): change to new owner url
  apps/githoard/githoard.yml
Labels: app: update

#1473 fix(znote.yml): change to new owner url
  apps/znote/znote.yml
Labels: app: update

#1472 feat: Added Vershd
  apps/vershd/vershd-icon.png
  apps/vershd/vershd.yml
Labels: app: blocked/need-info, app: new

#1475 feat: Add lsdeer app.
  apps/lsdeer/lsdeer-icon.png
  apps/lsdeer/lsdeer.yml
Labels: app: blocked/need-info, app: new

#1476 feat: Add Compress app.
  apps/compress/compress-icon.png
  apps/compress/compress.yml
Labels: app: blocked/need-info, app: new

#1292 feat: Add app repomesh
  apps/repomesh/repomesh-icon.png
  apps/repomesh/repomesh.yml
Labels: app: blocked/need-info, app: new

#1467 feat: Add Multiplayer Game Heads or Tails
  apps/heads-tails/heads-tails-icon.png
  apps/heads-tails/heads-tails.yml
Labels: app: blocked/need-info, app: new

#1410 feat: Add Master Tour
  apps/master-tour/master-tour-icon.png
  apps/master-tour/master-tour.yml
Labels: app: blocked/need-info, app: new

#1478 fix: Update data for Zulip desktop app
  apps/zulip/zulip-icon.png
  apps/zulip/zulip.yml
Labels: app: update

#1453 feat: Add Soundglass app
  apps/soundglass/soundglass-icon.png
  apps/soundglass/soundglass.yml
Labels: app: blocked/need-info, app: new

#1480 feat: Add Assessment Disaggregation software
  apps/assessment-disaggregation/assessment-disaggregation-icon.png
  apps/assessment-disaggregation/assessment-disaggregation.yml
Labels: app: new

#1326 feat: Add Jabra Direct app
  apps/jabra-direct/jabra-direct-icon.png
  apps/jabra-direct/jabra-direct.yml
Labels: app: blocked/need-info, app: new

#1469 feat: Added TaskView app
  apps/taskview/taskview-icon.png
  apps/taskview/taskview.yml
Labels: app: blocked/need-info, app: new

#1482 feat: update arena app
  apps/arena/arena.yml
Labels: app: update
