Repository electron/apps, pull requests merged in 2020-08, with the labels that each got.

#1486 feat: 'Add Tzared'
  apps/tzared/tzared-icon.png
  apps/tzared/tzared.yml
Labels: app: blocked/need-info, app: new

#1487 feat: 'Add Social Amnesia'
  apps/social-amnesia/social-amnesia-icon.png
  apps/social-amnesia/social-amnesia.yml
Labels: app: new

#1485 feat: 'Add Demoflow'
  apps/demoflow/demoflow-icon.png
  apps/demoflow/demoflow.yml
Labels: app: blocked/need-info, app: new

#1492 feat: Add Recode Converter
  apps/recode-converter/recode-converter-icon.png
  apps/recode-converter/recode-converter.yml
Labels: app: new

#1495 feat: update opencomic screenshots
  apps/opencomic/opencomic.yml
Labels: app: blocked/need-info, app: update

#1496 feat: Add Invizi
  apps/invizi/invizi-icon.png
  apps/invizi/invizi.yml
Labels: app: new

#1501 feat: Add Amialive
  apps/amialive/amialive-icon.png
  apps/amialive/amialive.yml
Labels: app: new

#1505 feat: Add Brim app
  apps/brim/brim-icon.png
  apps/brim/brim.yml
Labels: app: new

#1504 feat: Add Stacks app
  apps/stacks/stacks-icon.png
  apps/stacks/stacks.yml
Labels: app: blocked/need-info, app: new

#1507 add PanWriter
  apps/panwriter/panwriter-icon.png
  apps/panwriter/panwriter.yml
Labels: app: new

#1516 feat: add unlimited-clipboard
  apps/unlimited-clipboard/unlimited-clipboard-icon.png
  apps/unlimited-clipboard/unlimited-clipboard.yml
Labels: app: new
