Repository electron/apps, pull requests merged in 2020-06, with the labels that each got.

#1452 fix: Updated URL for Discord
  apps/discord/discord.yml
Labels: app: update

#1441 feat: Added eagluet app
  apps/eagluet/eagluet-icon.png
  apps/eagluet/eagluet.yml
Labels: app: new

#1420 feat: add Weltenschaft app
  apps/weltenschaft/weltenschaft-icon.png
  apps/weltenschaft/weltenschaft.yml
Labels: app: new

#1398 feat: Added my app Flawesome
  apps/flawesome/flawesome-icon.png
  apps/flawesome/flawesome.yml
Labels: app: new

#1394 feat: Update colorpicker app
  apps/colorpicker/colorpicker.yml
Labels: app: update

#1415 feat: Update Camunda Modeler Icon
  apps/camunda-modeler/camunda-modeler-icon.png
  apps/camunda-modeler/camunda-modeler.yml
Labels: app: update

#1435 feat: Update repository url for my exist app : Serina
  apps/serina/serina.yml
Labels: app: update

#1397 chore: Updated OhHai Browser description
  apps/ohhai-browser/ohhai-browser-icon-256.png
  apps/ohhai-browser/ohhai-browser.yml
Labels: app: update

#1431 feat: Add ModernDeck app
  apps/moderndeck/moderndeck-icon.png
  apps/moderndeck/moderndeck.yml
Labels: app: new

#1400 feat: Add network status check app
  apps/network-status-check/network-status-check-icon.png
  apps/network-status-check/network-status-check.yml
Labels: app: new

#1450 feat: Add 'Fluent Reader' app
  apps/fluent-reader/fluent-reader-icon.png
  apps/fluent-reader/fluent-reader.yml
Labels: app: new

#1396 feat: Add CrossOver
  apps/crossover/crossover-icon.png
  apps/crossover/crossover.yml
Labels: app: new

#1423 feat: Add Visual Family Tree app
  apps/visual-family-tree/visual-family-tree-icon.png
  apps/visual-family-tree/visual-family-tree.yml
Labels: app: new

#1395 fix: update Min website and fix image link
  apps/min/min.yml
Labels: app: blocked/need-info, app: update

#1386 feat: add Juggernaut app
  apps/juggernaut/juggernaut-icon.png
  apps/juggernaut/juggernaut.yml
Labels: app: new

#1432 chore: Update some links for Notable
  apps/notable/notable.yml
Labels: app: blocked/need-info, app: update

#1456 fix: Updated url, images, and tagline
  apps/cleaver/cleaver.yml
Labels: app: update

#1434 feat: Add Kube Dev Dashboard
  apps/kube-dev-dashboard/kube-dev-dashboard-icon.png
  apps/kube-dev-dashboard/kube-dev-dashboard.yml
Labels: app: new
