Repository electron/apps, pull requests merged in 2020-02, with the labels that each got.

#1310 fix: Update wnr app
  apps/wnr/wnr-icon.png
  apps/wnr/wnr.yml
Labels: app: update

#1306 feat: add Serene app
  apps/serene-app/serene-app-icon.png
  apps/serene-app/serene-app.yml
Labels: app: new

#1301 fix: Pragli logo and description
  apps/pragli/pragli-icon.png
  apps/pragli/pragli.yml
Labels: app: blocked/need-info, app: update

#1309 fix: Update xuanxuan app.
  apps/xuanxuan/xuanxuan-icon.png
  apps/xuanxuan/xuanxuan.yml
Labels: app: update

#1307 fix: MDyna app screenshots
  apps/mdyna/mdyna.yml
Labels: app: update

#1305 feat: Add TextureLab
  apps/texturelab/texturelab-icon.png
  apps/texturelab/texturelab.yml
Labels: app: new

#1312 feat: Add Tabby
  apps/tabby/tabby-icon.png
  apps/tabby/tabby.yml
Labels: app: new
