Repository electron/apps, pull requests merged in 2020-01, with the labels that each got.

#1270 feat: Add new app - Iconset
  apps/iconset/iconset-icon.png
  apps/iconset/iconset.yml
Labels: blocked/need-info

#1290 feat: Updated information for WeightHub app
  apps/weighthub/weighthub-icon.png
  apps/weighthub/weighthub.yml
Labels: app: update

#1291 feat: Add Apps: Twinkle Tray
  apps/twinkle-tray/twinkle-tray-icon.png
  apps/twinkle-tray/twinkle-tray.yml
Labels: app: new, blocked/need-info

#1286 feat: add massCode
  apps/masscode/masscode-icon.png
  apps/masscode/masscode.yml
Labels: app: new

#1300 fix: Twinkle Tray screenshot
  apps/twinkle-tray/twinkle-tray.yml
Labels: app: update

#1303 feat: Add Polypane
  apps/polypane/polypane-icon.png
  apps/polypane/polypane.yml
Labels: app: new

#1304 feat: Add new app - Metronome
  apps/metronome/metronome-icon.png
  apps/metronome/metronome.yml
Labels: app: blocked/need-info, app: new

#1289 Add Apps: Walling
  apps/walling/walling-icon.png
  apps/walling/walling.yml
Labels: app: new

#1302 feat: MDyna
  apps/mdyna/mdyna-icon.png
  apps/mdyna/mdyna.yml
Labels: app: new
