Repository electron/apps, pull requests merged in 2020-09, with the labels that each got.

#1494 feat: Pic crop added
  apps/pic-crop/pic-crop-icon.png
  apps/pic-crop/pic-crop.yml
Labels: app: blocked/need-info, app: new

#1531 fix: update netron.yml description
  apps/netron/netron.yml
Labels: app: update

#1534 Please add aliasman to github
  apps/aliasman/aliasman-icon.png
  apps/aliasman/aliasman.yml
Labels: app: blocked/need-info, app: new

#1535 feat: Add Sononym to apps
  apps/sononym/sononym-icon.png
  apps/sononym/sononym.yml
Labels: app: blocked/need-info, app: new

#1533 feat: Update discord.yml
  apps/discord/discord.yml
Labels: app: update

#1544 feat: Added Mr.D'clutterer
  apps/mrdclutterer/mrdclutterer-icon.png
  apps/mrdclutterer/mrdclutterer.yml
Labels: app: new

#1539 feat: add devsession gui starter
  apps/devsession-gui-starter/devsession-gui-starter-icon.png
  apps/devsession-gui-starter/devsession-gui-starter.yml
Labels: app: new

#1541 feat: Add Focused Task
  apps/focused-task/focused-task-icon.png
  apps/focused-task/focused-task.yml
Labels: app: new

#1542 feat: more supported operating system
  apps/multiple-file-manager/multiple-file-manager.yml
Labels: app: update
