Repository electron/apps, pull requests merged in 2020-04, with the labels that each got.

#1366 docs: discontinue notice
  apps/voltra/voltra.yml
Labels: app: disable

#1373 fix: updating the media-dupes app icon
  apps/media-dupes/media-dupes-icon.png
Labels: app: update

#1351 docs(Stacker): Update stacker references
  apps/stacker/stacker.yml
Labels: app: update

#1354 fix: Fixed screenshot images
  apps/groupmail/groupmail.yml
Labels: app: update

#1378 docs: change support operating system, remove macs for now
  apps/multiple-file-manager/multiple-file-manager.yml
Labels: app: update

#1336 fix: Disable Playbox (for now)
  apps/playbox/playbox.yml
Labels: app: disable

#1324 feat: Add Norde Source app
  apps/norde-source/norde-source-icon.png
  apps/norde-source/norde-source.yml
Labels: app: blocked/need-info, app: new

#1323 feat: Add raadyo App
  apps/raadyo/raadyo-icon.png
  apps/raadyo/raadyo.yml
Labels: app: blocked/need-info, app: new

#1327 feat: Add 'Mr Noplay' app
  apps/mr-noplay/mr-noplay-icon.png
  apps/mr-noplay/mr-noplay.yml
Labels: app: blocked/need-info, app: new

#1331 feat: Add 'Dynobase' app
  apps/dynobase/dynobase-icon.png
  apps/dynobase/dynobase.yml
Labels: app: new

#1332 feat: Add 'Protoman' app
  apps/protoman/protoman-icon.png
  apps/protoman/protoman.yml
Labels: app: blocked/need-info, app: new

#1381 feat: Add 'seobrowse' app
  apps/seobrowse/seobrowse-icon.png
  apps/seobrowse/seobrowse.yml
Labels: app: new

#1368 feat: Add 'SSHFS-Win Manager' app
  apps/sshfs-win-manager/sshfs-win-manager-icon.png
  apps/sshfs-win-manager/sshfs-win-manager.yml
Labels: app: new

#1380 feat: Add 'LessView' app
  apps/lessview/lessview-icon.png
  apps/lessview/lessview.yml
Labels: app: blocked/need-info, app: new

#1372 feat: Add Peacock Browser
  apps/peacock/peacock-icon.png
  apps/peacock/peacock.yml
Labels: app: new

#1388 feat: Add 'Merge Request Notifier' app
  apps/merge-request-notifier/merge-request-notifier-icon.png
  apps/merge-request-notifier/merge-request-notifier.yml
Labels: app: new

#1392 feat: Add Kankan app
  apps/kankan/kankan-icon.png
  apps/kankan/kankan.yml
Labels: app: new

#1389 feat: Update Gitify
  apps/gitify/gitify-icon.png
  apps/gitify/gitify.yml
Labels: app: update

#1330 perf: Add a "Organizer" key word.
  apps/iconset/iconset.yml
Labels: app: update

#1371 feat: add blink-mind-desktop
  apps/blink-mind-desktop/blink-mind-desktop-icon.png
  apps/blink-mind-desktop/blink-mind-desktop.yml
Labels: app: new

#1349 feat: Add 'ioui' app
  apps/ioui/ioui-icon.png
  apps/ioui/ioui.yml
Labels: app: new
