Repository electron/apps, pull requests merged in 2020-11, with the labels that each got.

#1564 feat: Add MagicBox
  apps/magicbox/magicbox-icon.png
  apps/magicbox/magicbox.yml
Labels: app: blocked/need-info, app: new

#1568 Feat: Add StudioTrans
  apps/studiotrans/studiotrans-icon.png
  apps/studiotrans/studiotrans.yml
Labels: app: new

#1575 Add SimpleInstaBot
  apps/simpleinstabot/simpleinstabot-icon.png
  apps/simpleinstabot/simpleinstabot.yml
Labels: app: new

#1579 Add Companion app
  apps/companion/companion-icon.png
  apps/companion/companion.yml
Labels: app: new

#1546 fix: update Cleavr name and website to new name and url
  apps/cleaver/cleaver.yml
Labels: app: blocked/need-info, app: new

#1571 feat: Update Frame icon
  apps/frame/frame-icon.png
Labels: app: update

#1578 Add Meteorman app
  apps/meteorman/meteorman-icon.png
  apps/meteorman/meteorman.yml
Labels: app: new

#1581 feat: Trivia-Desktop
  apps/trivia-desktop/trivia-desktop-icon.png
  apps/trivia-desktop/trivia-desktop.yml
Labels: app: new

#1582 feat: Adding C'YaPass app for distribution.
  apps/cyapass/cyapass-icon.png
  apps/cyapass/cyapass.yml
Labels: app: new

#1584 feat: Vonage Business Communications
  apps/vonage-business-communications/vonage-business-communications-icon.png
  apps/vonage-business-communications/vonage-business-communications.yml
Labels: app: new

#1573 feat: add zonote
  apps/zonote/zonote-icon.png
  apps/zonote/zonote.yml
Labels: app: blocked/need-info, app: new

#1593 feat: Add Covid-19-cases-overview
  apps/covid-19-cases-overview/covid-19-cases-overview-icon.png
  apps/covid-19-cases-overview/covid-19-cases-overview.yml
Labels: app: blocked/need-info, app: new
