Repository electron/apps, pull requests merged in 2020-10, with the labels that each got.

#1545 feat: Add IPTVnator application
  apps/iptvnator/iptvnator-icon.png
  apps/iptvnator/iptvnator.yml
Labels: app: new

#1554 feat: Added entry for "Google Assistant Unofficial Desktop Client"
  apps/google-assistant-unofficial-desktop-client/google-assistant-unofficial-desktop-client-icon.png
  apps/google-assistant-unofficial-desktop-client/google-assistant-unofficial-desktop-client.yml
Labels: app: blocked/need-info, app: new

#1538 feat: Add EnderFramework
  apps/enderframework/enderframework-icon.png
  apps/enderframework/enderframework.yml
Labels: app: blocked/need-info, app: new

#1532 feat: Add SnipCommand
  apps/snipcommand/snipcommand-icon.png
  apps/snipcommand/snipcommand.yml
Labels: app: blocked/need-info, app: new

#1528 feat: VuPC
  apps/vupc/vupc-icon.png
  apps/vupc/vupc.yml
Labels: app: blocked/need-info, app: new

#1549 fix: added repository and license
  apps/taskview/taskview.yml
Labels: app: blocked/need-info, app: update

#1557 feat: Add graSSHopper
  apps/grasshopper/grasshopper-icon.png
  apps/grasshopper/grasshopper.yml
Labels: app: blocked/need-info, app: new

#1556 feat: Add Git-it App
  apps/git-it/git-it-icon.png
  apps/git-it/git-it.yml
Labels: app: new
