Repository electron/apps, pull requests merged in 2021-03, with the labels that each got.

#1646 feat: Add Erin app
  apps/erin/erin-icon.png
  apps/erin/erin.yml
Labels: app: new

#1682 feat: update rainbow-board
  apps/rainbow-board/rainbow-board.yml
Labels: app: update

#1684 feat: add Copy2
  apps/copy2/copy2-icon.png
  apps/copy2/copy2.yml
Labels: app: blocked/need-info, app: new

#1667 feat: added dbgate app
  apps/dbgate/dbgate-icon.png
  apps/dbgate/dbgate.yml
Labels: app: new

#1712 feat: update Station URL to match our new domain
  apps/station/station.yml
Labels: app: update
