Repository electron/apps, pull requests merged in 2021-08, with the labels that each got.

#1849 feat: Add BoxHero app
  apps/boxhero/boxhero-icon.png
  apps/boxhero/boxhero.yml
Labels: app: new

#1847 feat: Mongomix GUI Client for MongoDB
  apps/mongomix/mongomix-icon.png
  apps/mongomix/mongomix.yml
Labels: app: new

#1834 feat: openspeedtest added
  apps/openspeedtest-server/openspeedtest-server-icon.png
  apps/openspeedtest-server/openspeedtest-server.yml
Labels: app: blocked/need-info, app: new

#1854 feat: Add Ditto++ app
  apps/ditto/ditto-icon.png
  apps/ditto/ditto.yml
Labels: app: new

#1857 feat: Remove 404 website URL and disabled app
  apps/kakapo/kakapo.yml
  apps/nimble/nimble.yml
Labels: app: disable

#1861 chore: update scratch-for-discord
  apps/scratch-for-discord/scratch-for-discord-icon.png
  apps/scratch-for-discord/scratch-for-discord.yml
Labels: app: update

#1862 feat: Adding a screenshot
  apps/threema-for-desktop/threema-for-desktop.yml
Labels: app: update

#1869 chore: update to es module
  categories.js
  lib/app-categories.js
  lib/apps-with-github-repos.js
  lib/broken-links.js
  lib/colors.js
  lib/dirname.js
  lib/github.js
  lib/grandfathered-descriptions.js
  lib/grandfathered-links.js
  lib/grandfathered-small-icons.js
  lib/old-electron-apps.js
  lib/raw-app-list.js
  package-lock.json
  package.json
  script/categories.js
  script/clean.js
  script/colors.js
  script/dates.js
  script/find-broken-links.js
  script/pack.js
  script/publish-to-gh.js
  script/readmes.js
  script/releases.js
  script/remove-broken-links.js
  script/remove-old-electron-apps.js
  script/resize.js
  script/ymlupdate.js
  test/colors-spec.js
  test/human-data.js
  test/machine-data.js
  wizard.js
Labels: enhancement
