Repository electron/apps, pull requests merged in 2021-07, with the labels that each got.

#1781 feat: Added the Trackabi app
  apps/trackabi/trackabi-icon.png
  apps/trackabi/trackabi.yml
Labels: app: blocked/need-info, app: new

#1811 feat: Update Discord
  apps/discord/discord-icon.png
  apps/discord/discord.yml
Labels: app: update

#1816 feat: Remove Snap option from Falix Software
  apps/falix-software/falix-software.yml
Labels: app: update

#1831 feat: Update linked.yml
  apps/linked/linked.yml
Labels: app: update

#1832 feat: add Stinker
  apps/stinker/stinker-icon.png
  apps/stinker/stinker.yml
Labels: app: blocked/need-info, app: new

#1830 feat: Add Subtitler app
  apps/subtitler/subtitler-icon.png
  apps/subtitler/subtitler.yml
Labels: app: new

#1826 feat: My folder online (share local folder easily)#2
  apps/my-folder-online/my-folder-online-icon.png
  apps/my-folder-online/my-folder-online.yml
Labels: app: new

#1829 feat: add lyna
  apps/lyna/lyna-icon.png
  apps/lyna/lyna.yml
Labels: app: blocked/need-info, app: new

#1810 feat: Add Baiplay app
  apps/baiplay/baiplay-icon.png
  apps/baiplay/baiplay.yml
Labels: app: blocked/need-info, app: new

#1824 feat: Add KeyCombiner app
  apps/keycombiner/keycombiner-icon.png
  apps/keycombiner/keycombiner.yml
Labels: app: blocked/need-info, app: new

#1809 feat: Adding Threema For Desktop
  apps/threema-for-desktop/threema-for-desktop-icon.png
  apps/threema-for-desktop/threema-for-desktop.yml
Labels: app: blocked/need-info, app: new

#1817 feat: add Utilso app
  apps/utilso/utilso-icon.png
  apps/utilso/utilso.yml
Labels: app: blocked/need-info, app: new

#1812 feat: Add FLB Music
  apps/flbmusic/flbmusic-icon.png
  apps/flbmusic/flbmusic.yml
Labels: app: blocked/need-info, app: new

#1821 feat: Added Yukino
  apps/yukino/yukino-icon.png
  apps/yukino/yukino.yml
Labels: app: blocked/need-info, app: new

#1838 feat: Add Tockler app
  apps/tockler/tockler-icon.png
  apps/tockler/tockler.yml
Labels: app: new

#1818 feat: Add tess Applications
  apps/tess/tess-icon.png
  apps/tess/tess.yml
Labels: app: blocked/need-info, app: new

#1814 feat: Add Aether app
  apps/aether/aether-icon.png
  apps/aether/aether.yml
Labels: app: blocked/need-info, app: new

#1844 fix: Use correct KeyCombiner image URLs
  apps/keycombiner/keycombiner.yml
Labels: app: update

#1846 fix: My Folder online
  apps/my-folder-online/my-folder-online.yml
Labels: app: update

#1845 feat: update geniemoji app icon
  apps/geniemoji/geniemoji-icon.png
Labels: app: update
