Repository electron/apps, pull requests merged in 2021-05, with the labels that each got.

#1774 fix: name for google-chat-electron
  apps/google-chat-electron/google-chat-electron.yml
Labels: app: update

#1777 fix: Updating Remindr URLs
  apps/remindr/remindr.yml
Labels: app: update

#1770 feat: RenderTune Electron App
  apps/rendertune/rendertune-icon.png
  apps/rendertune/rendertune.yml
Labels: app: new

#1769 feat: Update motrix.yml
  apps/motrix/motrix.yml
Labels: app: update

#1798 feat: Add nxshell screenshots
  apps/nxshell/nxshell.yml
Labels: app: update

#1797 fix: Updated sftpclient broken link
  apps/sftpclient/sftpclient.yml
Labels: app: update

#1796 feat: FalixNodes Software
  apps/falix-software/falix-software-icon.png
  apps/falix-software/falix-software.yml
Labels: app: new

#1794 feat: update Jukeboks
  apps/jukeboks/jukeboks-icon.png
  apps/jukeboks/jukeboks.yml
Labels: app: update

#1792 feat: add Clovery app
  apps/clovery/clovery-icon.png
  apps/clovery/clovery.yml
Labels: app: new

#1791 fix: update Translatium icon and metadata
  apps/translatium/translatium-icon.png
  apps/translatium/translatium.yml
Labels: app: update

#1790 feat(new app): add linked to apps
  apps/linked/linked-icon.png
  apps/linked/linked.yml
Labels: app: new

#1795 feat: Add Copy 2 Online
  apps/copy-2-online/copy-2-online-icon.png
  apps/copy-2-online/copy-2-online.yml
Labels: app: new

#1788 fix: update Singlebox icon and metadata
  apps/singlebox/singlebox-icon.png
  apps/singlebox/singlebox.yml
Labels: app: update

#1787 fix: update WebCatalog icon and metadata
  apps/webcatalog/webcatalog-icon.png
  apps/webcatalog/webcatalog.yml
Labels: app: update

#1785 feat: add Fishing Funds app
  apps/fishing-funds/fishing-funds-icon.png
  apps/fishing-funds/fishing-funds.yml
Labels: app: new

#1784 chore: update ardm icon to latest
  apps/anotherredisdesktopmanager/anotherredisdesktopmanager-icon.png
Labels: app: update

#1783 feat: Add Wanna-Class
  apps/wanna-class/wanna-class-icon.png
  apps/wanna-class/wanna-class.yml
Labels: app: new

#1801 feat: add geniemoji app
  apps/geniemoji/geniemoji-icon.png
  apps/geniemoji/geniemoji.yml
Labels: app: new

#1802 feat: update screenshots sleek
  apps/sleek/sleek.yml
Labels: app: update

#1800 feat: Add stay-hydrated
  apps/stay-hydrated/stay-hydrated-icon.png
  apps/stay-hydrated/stay-hydrated.yml
Labels: app: blocked/need-info, app: new

#1782 feat: added Racompass app
  apps/racompass/racompass-icon.png
  apps/racompass/racompass.yml
Labels: app: blocked/need-info, app: new

#1799 feat: Add Repic app.
  apps/repic/repic-icon.png
  apps/repic/repic.yml
Labels: app: blocked/need-info, app: new

#1804 chore: update dependencies & scripts
  .husky/.gitignore
  .husky/pre-commit
  apps/cyberx/cyberx.yml
  apps/falix-software/falix-software.yml
  apps/fishing-funds/fishing-funds.yml
  apps/instatron/instatron.yml
  apps/matrix-writer/matrix-writer.yml
  apps/ohhai-browser/ohhai-browser-icon-256.png
  apps/pubvendorstool/pubvendorstool.yml
  apps/scancode-workbench/scancode-workbench.yml
  apps/source-me/source-me.yml
  apps/wanna-class/wanna-class.yml
  lib/github.js
  lib/raw-app-list.js
  meta/categories.json
  meta/colors.json
  meta/dates.json
  package-lock.json
  package.json
  script/pack.js
  script/readmes.js
  script/releases.js
  script/resize.js
  test/human-data.js
Labels: dependencies

#1803 feat: add responsivize app
  apps/responsivize/responsivize-icon.png
  apps/responsivize/responsivize.yml
Labels: app: new

#1775 feat: add new app quickstart-firebase
  apps/quickstart-firebase-unofficial/quickstart-firebase-unofficial-icon.png
  apps/quickstart-firebase-unofficial/quickstart-firebase-unofficial.yml
Labels: app: blocked/need-info, app: new
