Repository electron/apps, pull requests merged in 2021-04, with the labels that each got.

#1657 feat: add Boost Changer App to electron apps
  apps/boost-changer/boost-changer-icon.png
  apps/boost-changer/boost-changer.yml
Labels: app: new

#1687 feat: add aliceandbob.io
  apps/aliceandbob-io/aliceandbob-io-icon.png
  apps/aliceandbob-io/aliceandbob-io.yml
Labels: app: new

#1691 feat: adding glue app
  apps/glue/glue-icon.png
  apps/glue/glue.yml
Labels: app: new

#1692 add: google-chat-electron app
  apps/google-chat-electron/google-chat-electron-icon.png
  apps/google-chat-electron/google-chat-electron.yml
Labels: app: blocked/need-info, app: new

#1697 feat: add Waifu2x GUI
  apps/waifu2x-gui/waifu2x-gui-icon.png
  apps/waifu2x-gui/waifu2x-gui.yml
Labels: app: new

#1699 fix: Update Laravel Kit
  apps/laravel-kit/laravel-kit-icon.png
  apps/laravel-kit/laravel-kit.yml
Labels: app: update

#1706 feat: Add Nota
  apps/nota/nota-icon.png
  apps/nota/nota.yml
Labels: app: new

#1707 feat: A password manager like app
  apps/onecopy/onecopy-icon.png
  apps/onecopy/onecopy.yml
Labels: app: new

#1708 feat: Add PiTV
  apps/pitv/pitv-icon.png
  apps/pitv/pitv.yml
Labels: app: new

#1709 docs: Update domain-book.yml
  apps/domain-book/domain-book.yml
Labels: app: update

#1705 feat: add Termy
  apps/termy/termy-icon.png
  apps/termy/termy.yml
Labels: app: blocked/need-info, app: new

#1717 feat: Unofficial Game Launcher v 1.2
  apps/unofficial-riot-games-launcher/unofficial-riot-games-launcher-icon.png
  apps/unofficial-riot-games-launcher/unofficial-riot-games-launcher.yml
Labels: app: new

#1719 feat: add Kaplan Desktop
  apps/kaplan-desktop/kaplan-desktop-icon.png
  apps/kaplan-desktop/kaplan-desktop.yml
Labels: app: blocked/need-info, app: new

#1729 feat: add AnimeBack
  apps/animeback/animeback-icon.png
  apps/animeback/animeback.yml
Labels: app: new

#1724 feat: add Pocket Server
  apps/pocket-server/pocket-server-icon.png
  apps/pocket-server/pocket-server.yml
Labels: app: new

#1722 feat: Add ExpressLRS Configurator application
  apps/expresslrs-configurator/expresslrs-configurator-icon.png
  apps/expresslrs-configurator/expresslrs-configurator.yml
Labels: app: new

#1694 feat: add ToDo webapp
  apps/todo/todo-icon.png
  apps/todo/todo.yml
Labels: app: new

#1688 feat: Change to new repository
  apps/qawl/qawl.yml
Labels: app: blocked/need-info, app: update

#1742 fix: place loop-team in apps folder
  apps/loop-team/loop-team-icon.png
  apps/loop-team/loop-team.yml
Labels: app: update

#1737 feat: Add LightyearVPN
  apps/lightyearvpn/lightyearvpn-icon.png
  apps/lightyearvpn/lightyearvpn.yml
Labels: app: blocked/need-info, app: new

#1747 feat: Add Remindr
  apps/remindr/remindr-icon.png
  apps/remindr/remindr.yml
Labels: app: new

#1749 feat: New logo, updated yml and new releases for sleek
  apps/sleek/sleek-icon.png
  apps/sleek/sleek.yml
Labels: app: update

#1751 feat: add thorium-reader
  apps/thorium-reader/thorium-reader-icon.png
  apps/thorium-reader/thorium-reader.yml
Labels: app: new

#1748 chore: update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#1760 feat: add Devbook
  apps/devbook/devbook-icon.png
  apps/devbook/devbook.yml
Labels: app: new

#1768 feat: update animeback
  apps/animeback/animeback.yml
Labels: app: update

#1766 feat: Add Strimio
  apps/strimio/strimio-icon.png
  apps/strimio/strimio.yml
Labels: app: blocked/need-info, app: new
