Repository electron/apps, pull requests merged in 2021-01, with the labels that each got.

#1591 feat: add drawtify designer app;
  apps/drawtify-designer/drawtify-designer-icon.png
  apps/drawtify-designer/drawtify-designer.yml
Labels: app: blocked/need-info, app: new

#1608 feat: Add spofly
  apps/spofly/spofly-icon.png
  apps/spofly/spofly.yml
Labels: app: new

#1620 feat: add preview screenshot
  apps/zonote/zonote.yml
Labels: app: update

#1623 feat: Add Fileside
  apps/fileside/fileside-icon.png
  apps/fileside/fileside.yml
Labels: app: new

#1624 feat: Added SpaceEye app
  apps/spaceeye/spaceeye-icon.png
  apps/spaceeye/spaceeye.yml
Labels: app: new

#1626 feat: Add Web Toolbox app
  apps/web-toolbox/web-toolbox-icon.png
  apps/web-toolbox/web-toolbox.yml
Labels: app: new

#1629 feat: add Rainbow Board
  apps/rainbow-board/rainbow-board-icon.png
  apps/rainbow-board/rainbow-board.yml
Labels: app: new

#1628 feat: Adding YAGR - yet another gitbook reader
  apps/yet-another-gitbook-reader/yet-another-gitbook-reader-icon.png
  apps/yet-another-gitbook-reader/yet-another-gitbook-reader.yml
Labels: app: blocked/need-info, app: new

#1621 added redis-gui-unofficial
  apps/redis-gui-unofficial/redis-gui-unofficial-icon.png
  apps/redis-gui-unofficial/redis-gui-unofficial.yml
Labels: app: blocked/need-info, app: new

#1637 fix: new screenshot
  apps/covid-19-cases-overview/covid-19-cases-overview.yml
Labels: app: update

#1631 feat: add developer tools
  apps/developer-tools/developer-tools-icon.png
  apps/developer-tools/developer-tools.yml
Labels: app: new

#1634 feat: Add Interactive Data Editor
  apps/interactive-data-editor/interactive-data-editor-icon.png
  apps/interactive-data-editor/interactive-data-editor.yml
Labels: app: new

#1611 feat: added electron-clippy
  apps/electron-clippy/electron-clippy-icon.png
  apps/electron-clippy/electron-clippy.yml
Labels: app: blocked/need-info, app: new
