Repository electron/apps, pull requests merged in 2022-03, with the labels that each got.

#1868 feat: update Amialive description, icon and screenshot
  apps/amialive/amialive-icon.png
  apps/amialive/amialive.yml
Labels: app: blocked/need-info, app: update

#1942 feat: catalyst web browser
  apps/catalyst/catalyst-icon.png
  apps/catalyst/catalyst.yml
Labels: app: blocked/need-info

#1988 feat: Rename 'Medical' to 'Science & Medicine'
  apps/prodoctor-medicamentos/prodoctor-medicamentos.yml
  contributing.md
  lib/app-categories.js
Labels: enhancement
